@model IEnumerable<UserImagesData.Notification>


@{
    ViewData["Title"] = "Уведомления";
}

<h2>Уведомления</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image.Name)
                </td>
                <td>
                    <a asp-action="ReadNotification" asp-route-id="@item.Id">Ok</a> |
                </td>
            </tr>
        }

    </tbody>
</table>
