@model UserImagesData.User


@{
    ViewData["Title"] = "Пользователь";
}

<h2>@User.Identity.Name</h2>

<p>
    <a asp-action="Register" asp-controller="User">Добавить пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images.FirstOrDefault().Avatar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Role.Name)
            </td>
            @foreach (var item in Model.Images)
            {
                @*<tr>*@
                <td>
                    <img style='width:130px; height:100px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Avatar))" />
                </td>
                @*</tr>*@
            }
        </tr>
    </tbody>
</table>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="user"></p>
    <div id="articleList"></div>
</div>
<input type="text" id="signalRConnectionId" />
<script>
    function ready() {

    }
    //random number between 1 and 100 for demo
    //var userId = Math.floor((Math.random() * 100) + 1);
    var userId = @Model.Id;
    document.addEventListener("DOMContentLoaded", ready);

    document.getElementById("user").innerHTML = "UserId: " + userId;
</script>
<script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="/js/usernotification.js"></script>